MYSQL_DATABASE=# AWSの情報
MYSQL_USER=# AWSの情報
MYSQL_PASSWORD=# AWSの情報
MYSQL_ROOT_PASSWORD=# AWSの情報

DJANGO_SECRET_KEY=# セキュリティが高い文字列に
DEBUG=False
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=# django用ドメイン設定

DOMAINS=# nginx用ドメイン設定

DATABASE_HOST=# AWSの情報
DATABASE_PORT=3306
DATABASE_ENGINE=mysql